# First program

In [1]:
# First program in python!
print("Hello World!")

Hello World!

# Variables

In [2]:
# There is no such thing as "data type".
my_variable = 12 # int
my_variable = 12.0 # float or double
my_variable = True # boolean
my_variable = "This is a 'string' "  # string
my_variable = 'This is also a "string" '
# '' and "" are pretty much the same thing

In [3]:
print("""
    This is a string
    So
    I can
    Print it!
    :)
""")

    This is a string
    So
    I can
    Print it!
    :)

# Arithmetic

In [4]:
# Normal arithmetic operators like '+', '-', '*', '/' are similar to other programing languages
print('1 + 2 = ', 1 + 2)
print('2 * 4.5 = ', 2 * 4.5)
print('10 - 2.5 = ', 10 - 2.5)
print('1 / 2 = ', 1/2) # '/' operator returns float numbers.
print('5 // 2 = ', 5//2) # '//' operator returns just the integer part of the number.
print('2 ** 3 = ', 2**3) # You can also use '**' operator as power

1 + 2 =  3
2 * 4.5 =  9.0
10 - 2.5 =  7.5
1 / 2 =  0.5
5 // 2 =  2
2 ** 3 =  8

In [5]:
# Division by Zero (int/0)
print(1/0)

ZeroDivisionError: division by zero

In Java when `System.out.println(1.0/0)` runs it will display `Infinity`
But Python doesn't  allown anything like this

In [6]:
# Division by Zero (float/0)
print(1.0/0)

ZeroDivisionError: float division by zero

# IEEE 754

For more information you can visit [HERE](https://builtin.com/articles/0-1-0-2) and read more detail about the IEE754 [HERE](https://en.wikipedia.org/wiki/IEEE_754).

In [7]:
print("0.1 + 0.2 = 0.3 ?")
print("0.1 + 0.2 =", 0.1 + 0.2)

0.1 + 0.2 = 0.3 ?
0.1 + 0.2 = 0.30000000000000004

# Index
In short indexing refers to the process of accessing a specific element in a sequence, such as a string or list or etc. , using its position or index number.
In python indexing start from 0

In [8]:
my_string = "Python is easy"
# in python for getting access to the i-th element in the sequence we use []
print("First element(index of 0) in the string is = ", my_string[0])
print("Second element(index of 1) in the string is = ", my_string[1])
print("Third element(index of 2) in the string is = ", my_string[2])

First element(index of 0) in the string is =  P
Second element(index of 1) in the string is =  y
Third element(index of 2) in the string is =  t

# Basic Data Structure

# List
In python we do not have built-in support for Arrays, but Python Lists can be used instead. however, to work with arrays in Python you will have to import a library, like the NumPy library.

### Defining a list

In [9]:
my_list = list()
# You can also define a list this way
my_list = []

In [10]:
# Since we don't have types in python you can initialize a list with different
# types
my_list = [1, 2, 12.0, 'Falan Filan', True]

### Append

In [11]:
# To add an item at the end of the list we use append()
my_list.append(13)
print(my_list)

[1, 2, 12.0, 'Falan Filan', True, 13]

### Insert

In [12]:
# To add an item in a specific index we will use insert()
# The first argument is the index and the second is the item
my_list.insert(1, 24)
print(my_list)

[1, 24, 2, 12.0, 'Falan Filan', True, 13]

### Pop

In [13]:
# To remove an from the list we use pop(), it will return the item.
poped_item = my_list.pop()
print(poped_item)
print(my_list)

13
[1, 24, 2, 12.0, 'Falan Filan', True]

In [14]:
# pop() also gets an argument, in that case it will remove the the item from that index.
poped_item = my_list.pop(0)
print(poped_item)
print(my_list)

1
[24, 2, 12.0, 'Falan Filan', True]

### Remove

In [15]:
# To delete an item we use remove()
# we try to remove 12, is it even possible?
my_list.remove(12)
print(my_list)

[24, 2, 'Falan Filan', True]

wanted to delete 12 not 12.0!

**So in Python, 12 and 12.0 are equal!**

But in general `remove()` method starts iterating on the list and checks if the item is what we want to remove or not.

And if we have similar items in our list, "remove" method will delete the item that has the **lowest index**.

In [16]:
tmp = [1, 2, 10, 20, 10.0]
tmp.remove(10.0)
print(tmp)

[1, 2, 20, 10.0]

### Index access

In [17]:
# As we explained in the index section we can get access to them via []
print(my_list)
print(my_list[0])

[24, 2, 'Falan Filan', True]
24

### Length

In [18]:
# To get the size of object we will use len()
print(len(my_list))

4

In [19]:
# To get the last item?
print(my_list[len(my_list) - 1])

True

In [20]:
# But there is an easy way to do that
print(my_list[-1])

True

In [21]:
print(my_list[-4])

24

In [22]:
# But you should be careful with that.
# For example:
print(my_list[-5])

IndexError: list index out of range

### List slicing
We have a list like this:
```python
my_list = [1, 2, 4, 4, 3, 6, 8, 5,9]
```
And I want some part of it! for example from index 2 up to index 5.
In other programming languages like C we do something like this:
``` Java
for(int i=2; i < 6; i++){
   new_List[i-2] = my_list[i];
}
```
But in python it is easier

In [23]:
my_list = [1, 2, 4, 4, 3, 6, 8, 5,9]
print(my_list[2:6])
# From index "i" till index "j-1"(in this case i=2 and j=6)
# We call this "slicing"!

[4, 4, 3, 6]

In [24]:
# There is also a third argument that defines step
# For example I want to go from index 1 up to index 5 with step=2: [2, 4, 6]
my_list[1:6:2]

[2, 4, 6]

### Sort

In [25]:
print('Not sorted list: ',my_list)
my_list.sort()
print('Sorted list: ', my_list)

Not sorted list:  [1, 2, 4, 4, 3, 6, 8, 5, 9]
Sorted list:  [1, 2, 3, 4, 4, 5, 6, 8, 9]

### Reverse

In [26]:
print('Not reversed list: ',my_list)
my_list.reverse()
print('Reversed list: ', my_list)

Not reversed list:  [1, 2, 3, 4, 4, 5, 6, 8, 9]
Reversed list:  [9, 8, 6, 5, 4, 4, 3, 2, 1]

In [27]:
# There is another way if you don't like to use that method
'''
Remember the slicing part?
We can pass a step arg to list, right?
What if I pass -1 for step?
'''
my_list = [1, 2, 3, 4, 4, 5, 6, 8, 9] # This is my_list before the reverse method, right?
print(my_list[::-1]) # [9, 8, 6, 5, 4, 4, 3, 2, 1]

[9, 8, 6, 5, 4, 4, 3, 2, 1]

### Multidimensional lists

In [28]:
# It can have different type  or length
multidimenional_list = [[1,2,3],[4,5],[6]]
print(multidimenional_list[0])
print(multidimenional_list[0][2])

[1, 2, 3]
3

# Tuples

Tuples are very similar to lists.
You can use everything that we talked about in list, for tuples EXCEPT ONE THING!

tuples are **immutable**!


What does it mean?


It means you **CAN NOT** change the data stored in tuples!

In [29]:
# You can define a tuple like a list
my_tuple = tuple()
# or
my_tuple = (1, 2, 12.0, 'SOMETHING', True, [], ())
print(my_tuple[0])
print(my_tuple[::-1])

1
((), [], True, 'SOMETHING', 12.0, 2, 1)

In [30]:
my_tuple[0] = 2

TypeError: 'tuple' object does not support item assignment

Since they are immutable we can not append any new data so we need to change the whole tuple.

In [31]:
# Tuple with one item
# Using the keyword
my_tuple_with_one_item = tuple([1])
# tuple() has one optional argument and it has to be an iterable object
# Also I can get the same result:
my_tuple_with_one_item = (1, )
# What is that comma?
# it has to be there for python to understand that this is a tuple, otherwise the python interpreter recognizes
# this is a normal number and the perentesis as the operators
print(my_tuple_with_one_item)

(1,)

# Set

Sets are collections which they are unordered, unchangeable, and unindexed.

By unchangeable I mean we can add or remove but we can't change the item!

In [32]:
# Definition
my_set = {} #Empty

my_set = {1,2,3,4,5} # With intial value

my_set.add(6)

print(my_set)

my_set.remove(1)

print(my_set)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [33]:
# As you know sets can't have duplicates. It is valid also here
my_set = {1, 1, "taxi", "some random data"}
print(my_set)

{'taxi', 'some random data', 1}

In [34]:
# In sets 1 and True are the same and counts as a duplicate
my_set = {1, 1, True, "some random data"}
print(my_set)

{1, 'some random data'}

In [35]:
# with this logic we can say that the 0 and False are counting as a duplicate as well.
my_set = {1, 0, False, 1, 0}
print(my_set)

{0, 1}

# Dictionary

Dictionary is a non sequence datastructure with a "key, value" system.

It means that you define a key and add a value for that specific key.

In [36]:
# You can define an empty dictionary with the 'dict()' method.
my_dict = dict()
print(my_dict)

{}

In [37]:
# key, and ":" , value.
my_dict = {
    'key': 'value',
    'key1': 'value1',
    'key2': 'value2',
}
# There is no data type, so your key and value can be anything you want.
# But keys are uniqe! Just try to keep your code clean xD
print(my_dict)

{'key': 'value', 'key1': 'value1', 'key2': 'value2'}

In [38]:
# call a key and it will return the expected value.
print(my_dict['key']) # Should be 'value'

value

### Add a pair

In [39]:
# If you want to add a pair of <key, value> you can do this:
# my_dict[<key>] = <value>
# For example
my_dict['key3'] = 'value3'
print( my_dict)
print(my_dict['key3'])

{'key': 'value', 'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
value3

### Popitem

In [40]:
# Dictionary has a "popitem()" method.
# It'll delete and return the last added "key, value".
my_dict.popitem()

('key3', 'value3')

In [41]:
# It also has an optional argument that using which you can pass a key and it'll delete the expected value and return it.
my_dict.pop("key")
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

---
# Check point
So as of now we saw 4 data collection types:
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

*Set items are unchangeable, but you can remove items and add new items.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

---

# Comparison

In [42]:
# There are a few operators like '==', '!=', '>=', '<=' using which you can compare two objects.
print(1 == 2)
print(1 >= 2)
print(1 <= 2)
print(1 != 2)
# You can also do chain operators
print(1 < 2 < 3 < 10 > 5)
# If one of them is false, the whole statement is false.
print(1 < 2 < 3 > 10 > 5)

False
False
True
True
True
False

There are few other keywords in python we can use for comparison
As of English language when we want to say "A is B", in python we can simply use that in python as well, and for negation we can use keyword "not" just like in English

In [74]:
a = True
b = True
print(a is b)
print(a is not b)

True
False

# If-Else

In [43]:
# For 'if' we do this:
if 1 == 2:
    print('blah blah blah')
else:
    print('blah blah blah 2')

# There is also nested if.
if 1 == 2:
    print('1 == 2')
else:
    if 2 == 2:
        print('2 == 2')
    else:
        print('blah blah blah 3')

# 'elif' is else then if!
if 1 == 2:
    print('1 == 2')
elif 2 == 2:
    print('2 == 2')
else:
    print('blah blah blah 3')

blah blah blah 2
2 == 2
2 == 2

in python a code block is shown with identation.

```python
something:
→ → statement
→ → statement
→ → statement
```
In that code snippet each → is equal with 2 spaces

you can have it in any format but it is important that all of the statements have the samme identation.

For example this code will give you error

```python
if 1==2:
  print("Something")
    print("something else")
else:
  print("another thing")
```

But this code will work
```python
if 1==2:
    print("Something")
    print("something else")
else:
  print("another thing")
  print("Also another thing")
```
even tho the identation from `if` section and `else` section is different with eachother but each section is a different code block.

So identation is matters!

# Match-Case

in the c/c++ we use switch case
The switch case statement in a C/C++ program would look something like this
``` C++
switch (variable to be evaluated):
{
     case value1 : //statement 1
                   break;

     case value2 : //statement 2
                   break;

     case value_n : //statement n
                    break;

     default:  //default statement
}
```
In Python 3.10 (2021) introduced the match-case statement
Which provides a first-class implementation of a "switch" for Python
The syntax looks something like this
``` python
match variable_name:
            case ‘pattern1’ : //statement1
            case ‘pattern2’ : //statement2
            …            
            case ‘pattern n’ : //statement n
```

In [44]:
var = 2

match var:
    case 1: print("One")
    case 2:
        print("another statement")
        print("Two")
    case 3:
        print("Three")
    case _:
        print("Default")

another statement
Two

If there is ony one statement you can write it right in front of the case, but if you have multiple statements for each case you need a code block and you have to go next line and make the necessary identation.

# Loops

## While

```python
while condition:
    statement1
    statement2
    statement3
    ...
```

In [45]:
# Example:
i = 0
while i < 10:
    print('I is: ', i)
    i += 1

I is:  0
I is:  1
I is:  2
I is:  3
I is:  4
I is:  5
I is:  6
I is:  7
I is:  8
I is:  9

### Break

In [46]:
i = 0
while True:
    i += 1
    if i > 15:
        break
    print('I is: ', i)
# 'break' will stop the while and moves on to the rest of the code

I is:  1
I is:  2
I is:  3
I is:  4
I is:  5
I is:  6
I is:  7
I is:  8
I is:  9
I is:  10
I is:  11
I is:  12
I is:  13
I is:  14
I is:  15

### Continue

In [47]:
i = 0
while i < 15:
    i += 1
    if i % 2 == 0:
        continue
    print('I is: ', i)
# 'continue' will ignore the rest of the while and goes for the next iteration

I is:  1
I is:  3
I is:  5
I is:  7
I is:  9
I is:  11
I is:  13
I is:  15

### Range

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number

In [48]:
range(10)

range(0, 10)

In [49]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# range(start, stop, step)
print(list(range(1, 10, 2)))

[1, 3, 5, 7, 9]

## For

`for` In python is like `for each` in java

In java we have:
```java
for (int i : int[]) {

}
```
In python the foramt is like:
```python
for variable in itterable:
  statement
  statement
  statement
```

In [51]:
my_list = [1, 2, 3, 4]
for item in my_list:
    print('item is: ', item)

item is:  1
item is:  2
item is:  3
item is:  4

In [52]:
for i in "String":
    print(i)

S
t
r
i
n
g

In [53]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Exercise

Using loops print the following:
```
     *
    ***
  *******
 *********
    ||
```

In [54]:
for i in range(1, 6):
  print(" "*(6-i)+ '*' * (2*i - 1))
print(" "*4 + "||")
print("Happy Christmass")

     *
    ***
   *****
  *******
 *********
    ||
Happy Christmass

## For - continue

In [55]:
# You can put any iterable object after 'in' when using 'for':

my_dict = {
    'item 1': 'value 1',
    'item 2': 'value 2',
    'item 3': 'value 3',
    'item 4': 'value 4'
}
for item in my_dict:
    print(my_dict[item])

value 1
value 2
value 3
value 4

In [56]:
my_dict = {
    'x': [10,20,30,40],
    'y': [1,2,3,4]
}

for i in my_dict:
    training_data = my_dict[i]
    for j in training_data:
        print(j)

10
20
30
40
1
2
3
4

In [57]:
my_list =  [3,2,1,4,5]
for i in range(len(my_list)-2):
    print(my_list[i:i+2])

[3, 2]
[2, 1]
[1, 4]

# Functions

```python
def <function name>(<arguments>):
    statement
    statement
    statement
```

In python we don't define if the function will return something or not.

In [58]:
def my_func():
    print('Hi')

my_func()

Hi

## arguments

In [59]:
def my_func2(name, family, age):
    print('Hi! my name is ' + name + ' ' + family + ". and I'm " + age)

my_func2('Ali', 'Daghighi', '27')

Hi! my name is Ali Daghighi. and I'm 27

### Default value

In [60]:
def my_func3(name='Ali', family='Daghighi', age='27'):
    print('Hi! my name is ' + name + ' ' + family + ". and I'm " + age)

my_func3()

Hi! my name is Ali Daghighi. and I'm 27

## Multiple args

In [61]:
def my_func4(name='Ali', *other_stuff):
    print("Hi my name is " + name + " and some other stuff xD")
    for var in other_stuff:
        print(var)

my_func4('Ali', 'Some', 'Random', 'Other', 'Stuff')

Hi my name is Ali and some other stuff xD
Some
Random
Other
Stuff

## return

In [62]:
def my_func5(*args):
    resault = 0
    for arg in args:
        resault += arg
    return resault

print(my_func5(1 ,2, 3, 4))

10

## return multiple

In [63]:
def my_function(a="", b="", c=""):
    return "Hi " + a + b + c, b + c

output = my_function("asdasdasd", b='This is b ', c='This is c ')

print(output)
print(len(output))
print(output[1])

('Hi asdasdasdThis is b This is c ', 'This is b This is c ')
2
This is b This is c

## Unpacking

In [64]:
mylist = [1,2]
first , second = mylist
print(first, second)

1 2

The line `first, second = mylist` unpacks the elements of the list into the variables `first` and `second`

This approach works with any iterable (like lists, tuples, sets, etc.) as long as the number of variables on the left matches the number of elements in the iterable. If the numbers don't match, Python will give error

# Scope of variables

All variables in a program may not be accessible at all locations in that program.

What does it mean?

That means "where have you declared a variable?"

let me elaborate:

In python we have "Global variables" and "Local variables"

In [65]:
total = 0; # This is a global variable.
# Now we have this function:
def my_sum( arg1, arg2 ):
    # Add both parameters and return them."
    total = arg1 + arg2; # the total is a local variable.
    print("Inside the function local total : ", total)
    return total;

# Now you can call the "sum" function
my_sum( 10, 20 );
print("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  0

In [66]:
# What if we needed access to the global variable?

# Check this example:

name = "Bianca Peterson"
print("Before:\t", name)
def setName():
    global name
    name = "Bianca Lucinda Peterson"

setName()
print("After:\t", name)

# Using the keyword "global" you can access the outer scope

Before:	 Bianca Peterson
After:	 Bianca Lucinda Peterson

# Advent of Code 2024 Question 1 Part 1

## Long Version

The Chief Historian is always present for the big Christmas sleigh launch, but nobody has seen him in months! Last anyone heard, he was visiting locations that are historically significant to the North Pole; a group of Senior Historians has asked you to accompany them as they check the places they think he was most likely to visit.

As each location is checked, they will mark it on their list with a star. They figure the Chief Historian must be in one of the first fifty places they'll look, so in order to save Christmas, you need to help them get fifty stars on their list before Santa takes off on December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

You haven't even left yet and the group of Elvish Senior Historians has already hit a problem: their list of locations to check is currently empty. Eventually, someone decides that the best place to check first would be the Chief Historian's office.

Upon pouring into the office, everyone confirms that the Chief Historian is indeed nowhere to be found. Instead, the Elves discover an assortment of notes and lists of historically significant locations! This seems to be the planning the Chief Historian was doing before he left. Perhaps these notes can be used to determine which locations to search?

Throughout the Chief's office, the historically significant locations are listed not by name but by a unique number called the location ID. To make sure they don't miss anything, The Historians split into two groups, each searching the office and trying to create their own complete list of location IDs.

There's just one problem: by holding the two lists up side by side (your puzzle input), it quickly becomes clear that the lists aren't very similar. Maybe you can help The Historians reconcile their lists?

For example:
```
3   4
4   3
2   5
1   3
3   9
3   3
```
Maybe the lists are only off by a small amount! To find out, pair up the numbers and measure how far apart they are. Pair up the smallest number in the left list with the smallest number in the right list, then the second-smallest left number with the second-smallest right number, and so on.

Within each pair, figure out how far apart the two numbers are; you'll need to add up all of those distances. For example, if you pair up a 3 from the left list with a 7 from the right list, the distance apart is 4; if you pair up a 9 with a 3, the distance apart is 6.

In the example list above, the pairs and distances would be as follows:

In the example list above, the pairs and distances would be as follows:

- The smallest number in the left list is 1, and the smallest number in the right list is 3. The distance between them is 2.
- The second-smallest number in the left list is 2, and the second-smallest number in the right list is another 3. The distance between them is 1.
- The third-smallest number in both lists is 3, so the distance between them is 0.
- The next numbers to pair up are 3 and 4, a distance of 1.
- The fifth-smallest numbers in each list are 3 and 5, a distance of 2.
- Finally, the largest number in the left list is 4, while the largest number in the right list is 9; these are a distance 5 apart.

To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!

Your actual left and right lists contain many location IDs. What is the total distance between your lists?

## TL;DR version

Find the total distance between the two lists by pairing the numbers in sorted order and summing their differences.

For example:
```
3   4
4   3
2   5
1   3
3   9
3   3
```
In the example list above, the pairs and distances would be as follows:

- The smallest number in the left list is 1, and the smallest number in the right list is 3. The distance between them is 2.
- The second-smallest number in the left list is 2, and the second-smallest number in the right list is another 3. The distance between them is 1.
- The third-smallest number in both lists is 3, so the distance between them is 0.
- The next numbers to pair up are 3 and 4, a distance of 1.
- The fifth-smallest numbers in each list are 3 and 5, a distance of 2.
- Finally, the largest number in the left list is 4, while the largest number in the right list is 9; these are a distance 5 apart.

To find the total distance between the left list and the right list, add up the distances between all of the pairs you found. In the example above, this is 2 + 1 + 0 + 1 + 2 + 5, a total distance of 11!

Your actual left and right lists contain many location IDs. What is the total distance between your lists?

In [67]:
lines = """3   4
4   3
2   5
1   3
3   9
3   3""".split('\n')

In [68]:
print(lines)

['3   4', '4   3', '2   5', '1   3', '3   9', '3   3']

In [69]:
def fix_line(line):
  return line.split()

In [70]:
L1 = []
L2 = []
L3 = []
for line in lines:
  line = fix_line(line)
  L1.append(int(line[0]))
  L2.append(int(line[1]))

In [71]:
L1.sort()
L2.sort()

In [72]:
for index in range(len(L1)):
  a = L1[index]
  b = L2[index]
  L3.append(abs(a - b))

In [73]:
print(sum(L3))

11

---

# END OF SESSION 1