# Revision

In [ ]:
# Hello World
print("Hello World!")

Hello World!

In [ ]:
# Variables
"""
Variables can hold different data types like:
int, float, bool, str
"""
my_var = 10
my_var = "string"  # Changing type dynamically

In [ ]:
# Arithmetic Operations
"""
+ Addition
- Subtraction
* Multiplication
/ Division (returns float)
// Floor Division(returns int)
** Exponentiation
"""

print(5 + 2, 5 // 2, 2 ** 3)

7 2 8

In [ ]:
# Lists
"""
Definition: Ordered, mutable, allows duplicates.
Example: my_list = [1, "two", 3.0, True]
Operations:
Append: my_list.append(4)
Remove: my_list.remove(1)
Slicing: my_list[1:3]
Sorting: my_list.sort()
Reversing: my_list.reverse()
"""

my_list = [3, 1, 4]
my_list.sort()
print(my_list)  # [1, 3, 4]

[1, 3, 4]

In [ ]:
# Tuples
"""
Definition: Ordered, immutable, allows duplicates.
Example: my_tuple = (1, "two", 3.0, True)
Operations:
count: my_tuple.count(1)
index: my_tuple.index(3)
Slicing: my_tuple[1:3]
"""
my_tuple = (1, "two", 3.0, True)
print(my_tuple.count(1))
print(my_tuple.index(3))
print(my_tuple[1:3])

2
2
('two', 3.0)

In [ ]:
# Sets
"""
Definition: Unordered, no duplicates.
Example: my_set = {1, 2, 3, 3, True, False, 0}
Operations:
add: my_set.add(4)
remove: my_set.remove(1)
union: my_set.union({4, 5, 6})
intersection: my_set.intersection({4, 5, 6, 7, 8})
difference: my_set.difference({4, 5, 6})
"""
my_set = {1, 2, 3, 3, True, False, 0}
my_set.add(4)
print(my_set)
my_set.remove(1)
print(my_set)
print(my_set.union({4, 5, 6}))
print(my_set.intersection({4, 5, 6, 7, 8}))
print(my_set.difference({4, 5, 6}))

{False, 1, 2, 3, 4}
{False, 2, 3, 4}
{False, 2, 3, 4, 5, 6}
{4}
{False, 2, 3}

In [ ]:
# Dictionaries
"""
Definition: Unordered, mutable, key-value pairs.
Example: my_dict = {"name": "John", "age": 30, "city": "New York"}
Operations:
get: my_dict.get("name") or my_dict["name"]
add: my_dict["country"] = "USA"
update: my_dict.update({"age": 31})
pop: my_dict.pop("city")
popitem: my_dict.popitem()
keys: my_dict.keys()
values: my_dict.values()
items: my_dict.items()
"""
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict.get("name"))
my_dict["country"] = "USA"
print(my_dict)
my_dict.update({"age": 31})
print(my_dict)
my_dict.pop("city")
print(my_dict)
print(my_dict.popitem())
print(my_dict)
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

John
{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 31, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 31, 'country': 'USA'}
('country', 'USA')
{'name': 'John', 'age': 31}
dict_keys(['name', 'age'])
dict_values(['John', 31])
dict_items([('name', 'John'), ('age', 31)])

In [ ]:
# Conditional Statements
x = input("Enter a number: ")
x = int(x)
if x > 10:
    print("Greater than 10")
elif x == 10:
    print("Equal to 10")
else:
    print("Less than 10")

Enter a number: 10
Equal to 10

In [ ]:
# Loops

# While
i = 0
while i < 5:
    print(i)
    i += 1
print('###################')
# For
for x in range(5):
    print(x)

0
1
2
3
4
###################
0
1
2
3
4

In [ ]:
# Function
def greet(name, lastname=""):
    return f"Hello, {name}!", f"Hello, {lastname}!"

first, second = greet("John", "Doe")
print(first)
print(second)

Hello, John!
Hello, Doe!

# Practice Time!
Some Small Coding practice.


## Question 1

A word or sentence in a given language is referred to as a pangram if it includes every letter of that language's alphabet at least once. Pangrams are commonly used to showcase fonts in printing or to test output devices.

You are provided with a string containing both uppercase and lowercase Latin letters. Determine whether this string is a pangram. A string is considered to include a letter from the Latin alphabet if the letter appears in either uppercase or lowercase form.


---
**Input**

The first line contains a single integer n (1 ≤ *n* ≤ 100) — the number of characters in the string.

The second line contains the string. The string consists only of uppercase and lowercase Latin letters.

---
**Output**

Output "YES", if the string is a pangram and "NO" otherwise.


---
**Examples**

*input*
```
12
toosmallword
```
*output*
```
NO
```
*input*
```
35
TheQuickBrownFoxJumpsOverTheLazyDog
```
*output*
```
YES
```

## Question 2


Petya has an array $a$ consisting of $n$ integers. He wants to remove duplicate (equal) elements.

Petya wants to leave only the rightmost entry (occurrence) for each element of the array. The relative order of the remaining unique elements should not be changed.

---
**input**

The first line contains a single integer $n$
$(1 \leq n \leq 50)$ — the number of elements in Petya's array.

The following line contains a sequence $a_1, a_2, …, a_n$  
$(1 \leq a_i \leq 1000)$ — Petya's array.

---
**output**

In the first line print integer $x$
 — the number of elements which will be left in Petya's array after he removed the duplicates.

In the second line print $x$
 integers separated with a space — Petya's array after he removed the duplicates. For each unique element only the rightmost entry should be left.

---

 **Examples**

*input*
```
6
1 5 5 1 6 1
```
*output*
```
3
5 6 1
```
*input*
```
5
2 4 2 4 4
```
*output*
```
2
2 4
```
*input*
```
5
6 6 6 6 6
```
*output*
```
1
6
```

# List Comperhensions

{x | 0 <= x < 5}

{x | 0 <= x < 7, x not mod 3}

# Generators

## Iterate iterators and range

In the Python world, an iterable is any object that you can loop over with a for loop.

Iterables are not always indexable, they don’t always have lengths, and they’re not always finite.

In [8]:
range(5)

range(0, 5)

In [9]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
iterator = iter('hi')
next(iterator)
next(iterator)
next(iterator)

In [10]:
def my_list(x):
    l1 = list()
    for i in range(x):
        l1.append(i * 2)
    return l1

my_list(5)

[0, 2, 4, 6, 8]

In Python, the yield keyword is used in functions to create generators, which are a type of iterable. When a function contains the yield keyword, it becomes a generator function, which can be paused and resumed, allowing it to produce a sequence of values over time rather than computing them all at once and returning them.

How yield Works:
1. State Suspension:

  - When yield is encountered, the function's state is saved (variables, control flow, etc.), and the value specified by yield is returned to the caller.
  - The function pauses execution at that point and can be resumed from where it left off.
2. Resume Execution:

  - The next value in the sequence can be obtained by calling the generator's __next__() method (or using a for loop).

3. Efficient Memory Use:

  - Unlike returning a complete list, yield allows for on-demand value generation, which is more memory-efficient for large datasets.

In [ ]:
def my_generator():
    yield 1
    yield 2
    yield 3

# Using the generator
gen = my_generator()
print(next(gen))  # Output: 1
print(next(gen))  # Output: 2
print(next(gen))  # Output: 3
# print(next(gen))  # Raises StopIteration

Key Differences Between return and yield:
- return: Exits the function and sends a value back to the caller.
- yield: Pauses the function, saves its state, and sends a value to the caller. The function can be resumed later.

Here’s a real-life scenario where yield is especially useful: processing a large log file line by line.

Imagine you are working with a massive server log file that doesn't fit into memory all at once. You want to filter out and process specific lines (e.g., error messages) without loading the entire file into memory. Using yield allows you to read and process the file lazily, one line at a time.

# Modules

## Math

In [ ]:
import math

In [ ]:
from math import pi

In [ ]:
pi

In [ ]:
pi = 'PI'

In [ ]:
pi

In [15]:
import math
math.cos(0)

1.0

In [16]:
from math import *
cos(0)

1.0

In [17]:
import math as m
m.cos(0)

1.0

## Random

In [ ]:
import random

In [ ]:
print(random.random())
print(random.random())
print(random.random())
print(random.random())

In [ ]:
random.seed(31066)
print(random.random())
print(random.random())
print(random.random())
print(random.random())

In [ ]:
print(random.randint(0, 5))
print(random.randint(0, 5))
print(random.randint(0, 5))
print(random.randint(0, 5))

# Lambda

In [ ]:
def my_add8(x, y):
    return x + y

my_add8(1, 2)

In [ ]:
my_add9 = lambda x, y: x + y

my_add9(1, 2)

# Map

In [ ]:
l1 = [1, 2, 3, 4]

[i for i in map(lambda x: x ** 2, l1)]

In [ ]:
l1 = [1, 2, 3, 4]

def my_pow(x):
    return x ** 2

[i for i in map(my_pow, l1)]

In [ ]:
l1 = [1, 2, 3, 4]

def my_pow2(x, y):
    return x ** y

for i in map(
    lambda x: [(x, i, my_pow2(x, i)) for i in range(2, 4)],
    l1
):
    print(i)

In [ ]:
l1 = [i for i in range(100)]
m1 = map(lambda x: x ** 2, l1)

# Zip

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = ['1', '2', '3', '4']

zipped = list(zip(l1, l2))
zipped

# for i, j in zip(l1, l2):
#     print('i: ', i, ', j: ', j)

# Enumerate

In [ ]:
for i in range(len(l1)):
    print(i, l1[i])

In [ ]:
for index, value in enumerate(l1):
    print(index, value)

In [ ]:
for index, _ in enumerate(l1):
    print(index, l1[index])

In [ ]:
l1 = [1, 2, 3, 4]
for i, _ in enumerate(l1):
    l1[i] = None
    print(i)
print(l1)

## Comlex

In [ ]:
complex(1, 2)

In [ ]:
complex('1+2j')

# Errors and Exceptions

In [ ]:
try:
    a = int(input("Enter a number: "))

except Exception:
    print("Wrong input!")

# Files

In [ ]:
# Python has a built-in "open()" function for opening a file.
# This function returns a file object, also called a handle,
# as it is used to read or modify the file accordingly

f = open("test.txt")    # open file in current directory

#                       "OR"

f = open("C:/Python38/README.txt")  # specifying full path

In [ ]:
# The default is reading in text mode
# On the other hand, binary mode returns bytes and this is the mode to be used when dealing with -
# non-text files like images or executable files

# There are a few modes that you can use to open a file:

# r : Opens a file for reading. (default)

# w : Opens a file for writing. Creates a new file if it does not exist
#     or truncates the file if it exists.

# x : Opens a file for exclusive creation.
#     But if the file already exists, the operation fails.

# a : Opens a file for appending at the end of the file without truncating it.
#     Creates a new file if it does not exist

# t : Opens in text mode. (default)

# b : Opens in binary mode.

# + : Opens a file for updating (reading and writing)