# Sesion 1

In [1]:
print("Hello World!")

Hello World!

In [3]:
Var1 = "Variable 1"
print(Var1)

Variable 1

In [4]:
Var1 = 10
print(Var1)

10

In [5]:
Var1 = 10.1

In [6]:
print(Var1)

10.1

# Primitive Types
  - Integers = 10
  - Strings = "Text"
  - Floating-Point Numbers = 10.1
  - Booleans = True

In [7]:
print(10 / 5)
print( 10 + 5)
print( 10 * 5 )
print( 2 ** 5)

2.0
15
50
32

In [8]:
print(10 // 5)

2

In [10]:
print(10.0/0)

ZeroDivisionError: float division by zero

In [12]:
print("0.1 + 0.2 = 0.3")

0.1 + 0.2 = 0.3

In [13]:
print("0.1 + 0.2 = " , 0.1+0.2)

0.1 + 0.2 =  0.30000000000000004

In [14]:
My_str = "Ali Daghighi"
My_str[0]

'A'

In [15]:
list()

[]

In [16]:
My_list = []
my_list = list()

In [17]:
my_list.append(1)

In [18]:
my_list.append("1")
my_list.append(True)
print(my_list)

[1, '1', True]

In [19]:
print("This is a very long text")

print("""
asasasasas
as
a
s
as
a
s
as

as

as

as
a
s
as


""")

This is a very long text

asasasasas
as
a
s
as
a
s
as

as

as

as
a
s
as

In [21]:
print('1+1',"is" , '=' , 1+1)
print("This"+"That")

1+1 is = 2
ThisThat

In [22]:
my_var = 10
another_var = 20
print(f"Myvar =  {my_var}")

Myvar =  10

In [28]:
print("anothervar = {d}".format(d = my_list))

anothervar = [1, '1', True]

In [49]:
my_list = [1,2,3,4,5]
my_list[3:1:-1]

[4, 3]

In [47]:
my_list.pop(0)

1

In [50]:
print(my_list)

[1, 2, 3, 4, 5]

In [51]:
my_list.clear()
print(my_list)

[]

In [52]:
my_list_2 = [[1,2,3],[4,5],[6]]

In [53]:
my_Tuple = tuple()

my_Tuple = (1,2,3)

In [55]:
print(my_Tuple[0])

1

In [56]:
my_Tuple[0]

TypeError: 'tuple' object does not support item assignment

In [59]:
my_Tuple = (1,)

In [60]:
print(my_Tuple)

(1,)

In [61]:
my_set = {1 , 2 , 1 , 2}

In [62]:
print(my_set)

{1, 2}

In [72]:
my_set = {10, 1 , 0 , True , False}

In [73]:
my_set.add(5)

In [74]:
print(my_set.pop())

0

In [75]:
print(my_set)

{1, 10, 5}

In [90]:
my_dict = dict()

# {Key:Value}

my_dict.update({"Key" : "Value"})
my_dict["Key"] = 1
my_dict["Key1"] = 2
my_dict.popitem()
my_dict.pop("Key")

1

In [89]:
print(my_dict)

{}

In [91]:
var = 1
var2 = 2

var == var2

False

In [92]:
var != var2

True

In [93]:
print(var > var2)
print(var < var2)
print(var >= var2)
print(var <= var2)

False
True
False
True

In [95]:
a = 10
b = 20
c = 30

print(a < b > c)

False

In [99]:
if a < b < c:
    print("True")
    print("Sommething")
elif a > b:
    print("False")
else:
    print("false")

True
Sommething

In [102]:
var = 10

match var:
    case 1: print("One")
    case 2:

        print("Two")
    case 3:
        print("Three")
    case _:
        print("Default")

Default

In [104]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [110]:
"""
for (int i ; Int[]) {

}
"""
for i in "String":
    print(i)

S
t
r
i
n
g

In [105]:
range(0,10)

range(0, 10)

In [108]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
my_string = """
     *
    ***
  *******
 *********
    ||
"""

for i in range(1, 6):
  print(" "*(6-i)+ '*' * (2*i - 1))
print(" "*4 + "||")
print("Happy Christmass")

     *
    ***
   *****
  *******
 *********
    ||
Happy Christmass

In [131]:
my_dict = {
    'Key1' : 'Value1',
    'Key2' : 'Value2'
}
for i in my_dict:
    print(my_dict[i])

Value1
Value2

In [134]:
my_dict = {
    'x': [10,20,30,40],
    'y': [1,2,3,4]
}

for i in my_dict:
    training_data = my_dict[i]
    for j in training_data:
        print(j)

10
20
30
40
1
2
3
4

In [138]:
my_list =  [3,2,1,4,5]
for i in range(len(my_list)-2):
    print(my_list[i:i+2])

[3, 2]
[2, 1]
[1, 4]

In [154]:
def my_function(a="", b="", c=""):
    return "Hi " + a + b + c, b + c

In [158]:
_, second = my_function("asdasdasd", b='This is b ', c='This is c ')

In [159]:
second

'This is b This is c '

In [161]:
a = [1,2]
first , second = a
print(first, second)

1 2

In [164]:
def sum(*args):
  res = 0
  for item in args:
    res += item
  return res

In [165]:
sum(1,2,3,4,5,6,7,8,9)

45

In [199]:
def sum(args):
  Total = 0
  for item in args:
    Total += item
  return Total

In [169]:
sum(1,2,3,4,5,6,7,8,9)

45

In [171]:
"""
56208   95668
52621   74203
95252   33335
79799   26047
88005   37435
61887   93836
48454   95821
62543   40154
"""

'\n56208   95668\n52621   74203\n95252   33335\n79799   26047\n88005   37435\n61887   93836\n48454   95821\n62543   40154\n'

In [173]:
line = input()

56208   95668

In [176]:
"1,2,3,4,5".split(",")

['1', '2', '3', '4', '5']

In [177]:
line_list = line.split()

In [180]:
for item in range(len(line_list)):
  line_list[item] = int(line_list[item])

In [181]:
line_list

[56208, 95668]

In [183]:
firs_list = []
second_list = []
third_list = []
for i in range(8):
  line_list = input().split()
  first, second = line_list
  firs_list.append(int(first))
  second_list.append(int(second))

56208   95668
 52621   74203
 95252   33335
 79799   26047
88005   37435
 61887   93836
 48454   95821
62543   40154

In [184]:
firs_list

[56208, 52621, 95252, 79799, 88005, 61887, 48454, 62543]

In [185]:
second_list

[95668, 74203, 33335, 26047, 37435, 93836, 95821, 40154]

In [186]:
firs_list.sort()
second_list.sort()

In [187]:
firs_list

[48454, 52621, 56208, 61887, 62543, 79799, 88005, 95252]

In [188]:
second_list

[26047, 33335, 37435, 40154, 74203, 93836, 95668, 95821]

In [189]:
for i in range(8):
  third_list.append(firs_list[i] - second_list[i])

In [190]:
third_list

[22407, 19286, 18773, 21733, -11660, -14037, -7663, -569]

In [192]:
toatl_value = sum(third_list)

In [193]:
print(toatl_value)

48270

In [197]:
def answer(arg):
  firs_list = []
  second_list = []
  third_list = []
  for i in range(arg):
    line_list = input().split()
    first, second = line_list
    firs_list.append(int(first))
    second_list.append(int(second))
  firs_list.sort()
  second_list.sort()
  for i in range(arg):
    third_list.append(firs_list[i] - second_list[i])
  toatl_value = sum(third_list)
  return toatl_value

In [200]:
"""
3   4
4   3
2   5
1   3
3   9
3   3
"""
answer_to_Q1 = answer(6)

3 4
4 3
2 5
1 3
3 9
3 3
-11

In [201]:
if answer_to_Q1 < 0:
  answer_to_Q1 = -1*answer_to_Q1
print(answer_to_Q1)

11